{% extends "base.html" %}


{% block content %}
    <div class="dashboard">
        <section class="search-section">
            <h2 data-translate="search">Pesquisar Criptomoeda</h2>
            <form id="search-form">
                <div class="form-group">
                    <label for="search" data-translate="search_label">Nome ou Símbolo:</label>
                    <input type="text" id="search" name="search" placeholder="Ex: Bitcoin ou BTC" required>
                </div>
                <button type="submit" data-translate="search_button">Pesquisar</button>
            </form>

            <div id="search-result" class="search-result"></div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}